# Play specific stuff
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache
/database/
eclipse

# scala ide stuff
.classpath
.project
.settings/
